<template>
  <div>
    <form
      class="grid grid-cols-1 gap-y-6"
      v-on:submit.prevent="signUp"
    >
      <div>
        <label for="username" class="sr-only">Username*</label>
        <div class="relative rounded-md shadow-sm">
          <input
            id="username"
            v-model="username"
            required
            name="username"
            type="username"
            class="form-input block w-full py-3 px-4 placeholder-gray-500 transition ease-in-out duration-150"
            placeholder="Username*"
          />
        </div>
      </div>
      <div>
        <label for="email" class="sr-only">Email*</label>
        <div class="relative rounded-md shadow-sm">
          <input
            id="email"
            v-model="email"
            required
            name="email"
            type="email"
            class="form-input block w-full py-3 px-4 placeholder-gray-500 transition ease-in-out duration-150"
            placeholder="Email*"
            @input="validateEmail"
          />
        </div>
      </div>
      <div>
        <label for="password" class="sr-only">Password*</label>
        <div class="relative rounded-md shadow-sm">
          <input
            id="password"
            v-model="password"
            required
            name="password"
            type="password"
            class="form-input block w-full py-3 px-4 placeholder-gray-500 transition ease-in-out duration-150"
            placeholder="Password*"
            @input="validatePassword"
          />
        <div>
          <p v-if="passwordError">
          The password must be from 8 to 32 characters long.
          </p>
        </div>
        </div>
      </div>
      <div class="">
        <span class="inline-flex rounded-md shadow-sm">
          <button
            class="inline-flex justify-center py-3 px-6 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out"
            @click="signUp"
          >
            Sign Up
          </button>
        </span>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      passwordOk: false,
      emailOk: false,
      username: "",
      email: "",
      password: "",
    };
  },
  methods: {
    validatePassword() {
      if(this.password.length >= 8 && this.password.length <= 32) {
        this.passwordOk = true;
        this.passwordError = false;
      }
      else {
        this.passwordError = true
      }
    },
    validateEmail() {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const isValid = re.test(String(this.email).toLowerCase());
      if (isValid) {
        this.emailError = false;
        this.emailOk = true;
        // this.$store.commit('updateEmail', this.email)

      } else {
        this.emailError = true;
      }
    },
    async signUp() {
          if (this.passwordOk && this.emailOk && this.username.length > 0) {
            try {
              const response = await this.$axios.post('/register', {
                username: this.username,
                email: this.email,
                password: this.password
              });
              console.log({response})
              this.$store.commit('users/add', response);

            // Peguei do renan
              const jwt = JSON.parse(window.atob(response.accessToken.split('.')[1]));
              await this.$router.push({ path: `/users/${jwt.sub}`});
              
            } catch(error) {
              console.log(error)
            }
          }
    },
  }
};
</script>